<div class="sidebar{{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <div class="logo-title">
        <div class="title">
            <!-- <img src="{{ .Site.Params.profilePicture | absURL }}" alt="profile picture"> -->
            <a class="title-text noselect" href="/"><span style="margin-left: -2.5em;">{{ .Site.Params.TitleLineOne }}</span><span style="display: block; margin-left: 2.5em;">{{ .Site.Params.TitleLineTwo }}</span></a>
            <a class="noselect compact title-text" href="/"><span>{{ .Site.Params.TitleLineOne }} {{ .Site.Params.TitleLineTwo }}</span></a>
            <div><span class="author-by noselect">of </span><span class="author noselect">{{ .Site.Params.Author }}</span></div>
            <span class="description noselect">{{ .Site.Params.description }}</span>
        </div>
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}">
                    <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        {{ end }}
    </ul>
    <div class="footer">
        <div class="by_farbox">&copy; {{ .Site.Params.author }} {{ if isset .Site.Params "copyright" }} {{ .Site.Params.copyright }} {{ else }} {{ now.Format "2006"}} {{end}}</div>
    </div>
</div>
